.app-header {
  padding: 1.5rem 4rem;
  background-color: var(--dark-navy);
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.logo {
  height: 40px;
  width: auto;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 1024px) {
  .app-header {
    padding: 1rem 1.5rem;
  }
}