.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--dark-navy); /* Usamos el nuevo fondo */
}

.app-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  padding: 2rem 4rem; /* Más padding horizontal */
  flex-grow: 1;
  width: 100%;
  max-width: 1600px; /* Aumentamos el ancho máximo */
  margin: 0 auto;
}

/* Media query para pantallas más pequeñas */
@media (max-width: 1024px) {
  .app-main {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem;
  }
}